{
  "swagger": "2.0",
  "info": {
    "description": "A Simple Money Transfer API",
    "title": "Money Transfer",
    "version": "v1"
  },
  "host": "api.ipify.org",
  "schemes": [
    "http"
  ],
  "basePath": "/",
  "paths": {
    "/accounts": {
      "get": {
        "summary": "Get All Accounts",
        "operationId": "listAccounts",
        "description": "Get the accounts list.",
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "$ref": "#/definitions/Accounts"
            }
          }
        }
      },
      "post": {
        "summary": "Creates A New Account",
        "operationId": "createAccount",
        "description": "Adds an account to the account's list.",
        "parameters": [
          {
            "name": "person",
            "in": "body",
            "description": "The account to create.",
            "schema": {
              "$ref": "#/definitions/CreateAccountRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account succesfully created.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "400": {
            "description": "Account couldn't have been created."
          },
          "500": {
            "$ref": "#/responses/Standard500ErrorResponse"
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "summary": "Get Account By Id",
        "operationId": "getAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account's id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          },
          "404": {
            "$ref": "#/responses/AccountNotFoundResponse"
          }
        }
      }
    },
    "/accounts/{id}/deactivate": {
      "get": {
        "summary": "Deactivate Account",
        "operationId": "deactivateAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account's id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          },
          "404": {
            "$ref": "#/responses/AccountNotFoundResponse"
          }
        }
      }
    },
    "/accounts/{id}/transfers": {
      "get": {
        "summary": "Get Account's Transfers",
        "operationId": "getAccountsTransfers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account's id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          },
          "404": {
            "$ref": "#/responses/AccountNotFoundResponse"
          }
        }
      }
    },
    "/transfers": {
      "get": {
        "summary": "Get All Transfers",
        "operationId": "listTransfers",
        "description": "Get the transfers list using search criteria.",
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "$ref": "#/definitions/Transfers"
            }
          }
        }
      },
      "post": {
        "summary": "Creates A New Transfer",
        "operationId": "createTransfer",
        "description": "Create A Transfer From A Source Account To A Destination Account.",
        "parameters": [
          {
            "name": "transfer",
            "in": "body",
            "description": "The transfer informations.",
            "schema": {
              "$ref": "#/definitions/CreateTransferRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Transfer succesfully created.",
            "schema": {
              "$ref": "#/definitions/Transfer"
            }
          },
          "400": {
            "description": "Transfer couldn't have been created."
          },
          "500": {
            "$ref": "#/responses/Standard500ErrorResponse"
          }
        }
      }
    },
    "/transfers/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The transfer's id",
            "type": "string"
          }
        ],
        "summary": "Get Transfer By Id",
        "operationId": "getTransfer",
        "description": "Get the transfer by it's id",
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "$ref": "#/definitions/Transfer"
            }
          },
          "404": {
            "$ref": "#/responses/TransferNotFoundResponse"
          }
        }
      }
    },
    "/transfers/{id}/execute": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The transfer's id",
            "type": "string"
          }
        ],
        "summary": "Execute A Transfer By Id",
        "operationId": "executeTransfer",
        "description": "Execute a transfer by it's id, the state change to COMPLETED",
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "$ref": "#/definitions/Transfer"
            }
          },
          "404": {
            "$ref": "#/responses/TransferNotFoundResponse"
          }
        }
      }
    },
    "/transfers/{id}/cancel": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The transfer's id",
            "type": "string"
          }
        ],
        "summary": "Cancel A Transfer By Id",
        "operationId": "cancelTransfer",
        "description": "Cancel a transfer by it's id, the state change to CANCELED",
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "$ref": "#/definitions/Transfer"
            }
          },
          "404": {
            "$ref": "#/responses/TransferNotFoundResponse"
          }
        }
      }
    }
  },
  "definitions": {
    "Account": {
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "balance": {
          "type": "number",
          "format": "decimal"
        },
        "currency": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      }
    },
    "Accounts": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Account"
      }
    },
    "Transfer": {
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "fromAccountId": {
          "type": "string"
        },
        "toAccountId": {
          "type": "string"
        },
        "amount": {
          "type": "number",
          "format": "decimal"
        },
        "currency": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      }
    },
    "Transfers": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Transfer"
      }
    },
    "CreateTransferRequest": {
      "properties": {
        "requestId": {
          "type": "string"
        },
        "fromAccountId": {
          "type": "string"
        },
        "toAccountId": {
          "type": "string"
        },
        "amount": {
          "type": "number",
          "format": "decimal"
        },
        "currency": {
          "type": "string"
        }
      }
    },
    "CreateAccountRequest": {
      "properties": {
        "requestId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "balance": {
          "type": "number",
          "format": "decimal"
        },
        "currency": {
          "type": "string"
        }
      }
    },
    "Link": {
      "properties": {
        "href": {
          "type": "string"
        },
        "rel": {
          "type": "string"
        },
        "method": {
          "type": "string"
        }
      }
    },
    "Error": {
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "responses": {
    "Standard500ErrorResponse": {
      "description": "An unexpected error occured.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "AccountNotFoundResponse": {
      "description": "Account does not exist."
    },
    "TransferNotFoundResponse": {
      "description": "Account does not exist."
    }
  },
  "parameters": {
    "id": {
      "name": "id",
      "in": "path",
      "required": true,
      "description": "The account's id",
      "type": "string"
    },
    "pageSize": {
      "name": "pageSize",
      "in": "query",
      "description": "Number of accounts returned",
      "type": "integer"
    },
    "pageNumber": {
      "name": "pageNumber",
      "in": "query",
      "description": "Page number",
      "type": "integer"
    }
  }
}